.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2443b2;
    font-size: 62px;
    font-weight: 900;
    color: white;
}

.main-container {
    height: 100%;
}

.axo-generator {
    padding: 20px;
}

.axo-generator .axo-input {
    font-size: 34px;
    font-weight: 700;
    border: 2px solid #2443b2;
    color: #2443b2;
    padding: 10px;
}

.axo-generator .generer-btn {
    font-size: 34px;
    font-weight: 700;
    border: 2px solid #2443b2;
    background-color: #2443b2;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.1s;
}

.axo-generator .axo-mot{
    margin-left: 20px;
    font-size: 34px;
    font-weight: 700;
    color: #2443b2;
}

.axo-generator .generer-btn:hover {
    opacity: 0.8;
    transition: 0.1s;
}

.list-axo {
    color: #2443b2;
    padding: 20px;
}

.list-axo h1 {
    text-transform: uppercase;
    font-size: 50px;
    margin-top : 0;
    border-bottom: solid 6px #9a12b4;
    width: 550px;
}

.list-axo .items-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-axo .items-container .axo-item {
    background-color: #2443b2;
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 700;
    width: 30%;
    color:white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    transition: 0.1s;
}

.list-axo .items-container .empty-item {
    width: 30%;
    padding: 10px;
}

.list-axo .items-container .axo-item:hover {
    transform: scale(1.02);
    transition: 0.1s;
}

.list-axo .items-container .axo-item .delete-item {
    cursor: pointer;
    padding-left: 10px;
}

.footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2443b2;
    color: white;
    font-size: 16px;
}

.footer a {
    color: white;
    text-decoration: none;
}
